div{
    margin: auto;
}
div li{
    margin-left: 180px;
}
body
{
    background-color: cadetblue;
    background-image: url(ipl.png);
    background-repeat: no-repeat;
}
h1{
    color: brown;
}
#one{
    color: #ff3333 ;
}
div{
    border-style: dotted;
    border-color: chocolate;
    border-width: 5px;
    width: 50%;
}
#mi{
    border-style: solid;
    border-color: black;
    border-width: 5px;
    background-color: chartreuse;
}

.team{
    border-style: ridge;
    border-color: chartreuse;
    border-width: 5px;
    background-color: darkgoldenrod;
}
